* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.wrapper {
    width: 940px;
}

header {
    height: 120px;
}

header h1 {
    float: left;
}

header nav {
    float: right;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    margin-right: 20px;
}


    