{% extends "base.html.twig" %}

{% block title %}Acteur{% endblock %}

{% block content %}
    {% for acteur in acteurs %}
        {{acteur.firstname}}
        {{acteur.lastname}}
        <a class="nav-link" href="updateActeur/{{acteur.id}}" >Modifier un acteur</a></li>
        <br>
    {% endfor %}
{% endblock %}
