{% extends "base.html.twig" %}

{% block title %}Ajouter un acteur{% endblock %}

{% block content %}
    <form action=addActeur method="POST">
        <input type="text" name="first_name" placeholder="Prénom">
        <input type="text" name="last_name" placeholder="Nom">
        <input type="submit" value="OK">
    </form>
{% endblock %}