{% extends "base.html.twig" %}

{% block title %}Modifier un réalisateur{% endblock %}

{% block content %}
    <form action=addGenre method="POST">
        <input type="text" name="nom" placeholder="Nom du genre">
        <input type="submit" value="OK">
    </form>
{% endblock %}