{% extends "base.html.twig" %}

{% block title %}Ajouter un réalisateur{% endblock %}

{% block content %}
    <form action=addGenre method="POST">
        <input type="text" name="name" placeholder="Nom du genre">
        <input type="submit" value="OK">
    </form>
{% endblock %}