{% extends "base.html.twig" %}

{% block title %}Acteur{% endblock %}

{% block content %}
    {% for genre in genres %}
        {{genre.name}}
        <a class="nav-link" href="updateGenre/{{genre.id}}" >Modifier un genre</a></li>
        <br>
    {% endfor %}
{% endblock %}