{% extends "base.html.twig" %}

{% block title %}Réalisateurs{% endblock %}

{% block content %}
    {% for real in reals %}
        {{real.firstname}}
        {{real.lastname}}
        <a class="nav-link" href="updateReal/{{real.id}}" >Modifier un réalisateur</a></li> <br/>
    {% endfor %}
{% endblock %}