{% extends "base.html.twig" %}

{% block title %}Modifier un acteur{% endblock %}

{% block content %}
    <form action="../updateActeur" method="POST">
        <input type="text" name="prenom" value={{acteur.firstname}}>
        <input type="text" name="nom" value={{acteur.lastname}}>
        <input type="hidden" name="id" value={{acteur.id}}>
        <input type="submit" value="OK">
    </form>   
{% endblock %}