<% include('head.ejs') %>

<main>
    <form action="auth" method="post">
        <input type="text" name="username" placeholder="Votre pseudo">
        <input type="password" name="password" placeholder="Votre mot de passe">
        <input type="submit" value="Bécot à parrain">
    </form>
</main>