<% include('head.ejs') %>

<h1>MAKE THE GALAXY BUUUUURRRNN</h1>
<main>
    <form action="add_user" method="post">
        <input type="text" name="username" placeholder="Votre pseudo">
        <input type="password" name="password" placeholder="Votre mot de passe">
        <input type="submit" value="Bécot à parrain">
    </form>
</main>