<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checklist</title>

    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <h1> The Checklist </h1>
        
        <ajout @nouvellenote="ajouterNote"></ajout>
        <note v-for="todo in todos" v-bind:content="todo" @click="inverser"></note> <!--v-bind important pour relier-->
        
    </div>

    <script>
        const vm = Vue.createApp({
            data(){
                return {
                    todos: ['Sauver le monde', 'Aller manger', 'Boire un café']
                }
            },
            methods:{
                inverser(){
                    this.todos.reverse();
                },
                ajouterNote(message){
                    this.todos.push(message);
                }
            }
        })

        vm.component('note', {
            props: ['content'],
            template: `<p> {{ content }} </p>`
        })

        vm.component('ajout', {
            props: [],
            emits: ['nouvellenote'], // pour le message sur l'inherit
            data(){
                return{
                    interne: 'Nouveau message'
                }
            },
            methods:{
                enregistrementNote(){
                    this.$emit('nouvellenote', this.interne) // permet d'envoyer au niveau supérieur (ici vers ajout)
                    this.interne = '';
                }
            },
            template: `
                <input type="text" v-model="interne" />
                <a href="#" @click="enregistrementNote" v-if="interne != '' ">Ajouter</a>
                {{ interne }}
            ` // besoin de faire remonter pour activer les méthodes avec methods
        })
        
        vm.mount('#app');
    </script>
</body>
</html>